<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="following-list">
      <%= render 'shared/following_list'  %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Discussion Feed</h3>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <%= render 'shared/feed' %>
  </div>
</div>
