<li class="micro-dist">
  <%= render 'shared/micropost_content',micropost: micropost  %>
  <section class="answer-<%= micropost.id %>">
    <%= render 'shared/answer_form' , micropost: micropost %>
  </section>
  <% answers=micropost.answers.take(5) %>
  <% if  answers.any?  %>
=======
  <% if answers.any?  %>
>>>>>>> activity_model
  <div class="load-more-<%= micropost.id %>" >
    <ol class="answers" >
      <%= render answers  %>
    </ol>
    <%= link_to("Load more answers",more_micropost_path(micropost),
          remote: true,class: "btn btn-info btn-sm btn-block btn-mine") if answers.count>4 %>
  </div>
  <% end %>
</li>

<script type="text/javascript">
// to answer by respond button
$('.answer-<%= micropost.id %>').hide();
$('.answer-button-<%= micropost.id %>').click(function(){
  $(this).hide();
  $('.answer-<%= micropost.id %>').slideDown('slow');
});
</script>

