<li>
<%= render 'shared/micropost_content',micropost: micropost  %>
<section class="answer-<%= micropost.id %>">
  <%= render 'shared/answer_form' , micropost: micropost %>
</section>
<% if micropost.answers.any?  %>
<% answers=micropost.answers %>
<ol class="answers" >
<%= render answers  %>
</ol>
<% end %>
</li>
<script type="text/javascript">
  $('.answer-<%= micropost.id %>').hide();
  $('.answer-button-<%= micropost.id %>').click(function(){
    $(this).hide();
    $('.answer-<%= micropost.id %>').slideDown('slow');
  });
</script>
